---
title: 'Why the Gaming Industry Needs Identity Verification'
date: '2020-01-24T21:06:45+00:00'
status: publish
permalink: /2020/01/24/why-the-gaming-industry-needs-identity-verification
author: 'Matthew Warner'
excerpt: ''
type: post
id: 4980
thumbnail: ../../../../../uploads/2019/07/Pass-Verifiy-IMG-3-150x150.jpg
category:
    - Blog
tag:
    - AML
    - 'AML Compliance'
    - 'best KYC'
    - 'blockchain verification'
    - Blockpass
    - 'cheap KYC'
    - Compliance
    - 'Customer Onboarding'
    - 'digital identity'
    - 'fast kyc'
    - gaming
    - 'id checks'
    - 'id verification'
    - 'identity checks'
    - 'Identity Management'
    - 'identity management solution'
    - 'identity verification'
    - 'Know your customer'
    - KYC
    - Regtech
    - 'security tokens'
    - 'Simple KYC'
    - STO
post_format: []
language:
    - English
post_translations: []
region:
    - ''
ogtitle:
    - 'Why the Gaming Industry Needs Identity Verification'
ogdescription:
    - 'Gambling has been around for thousands of years. Whilst individual businesses may fail, the gaming industry as a whole survives and thrives. It does this for a simple reason: it makes money. Through its use of maths, psychology and increasingly clever marketing, gambling turns a profit for those who run their gaming companies ably. One of the downsides to this is that the customers who lose money outweigh those that make money, as they must for the gambling business to succeed, which leads to a wealth of negative feelings from those who lose out. Accusations of rigged, bugged or broken games are inevitable when people lose their money, and some will go further and accuse the provider of being corrupt or conducting illegal activity. Public perception of the gambling industry, therefore, is not always positive. Given this, it is important that gaming enterprises show that they are legitimate and prove they are abiding by the applicable rules and regulations. '
ogimage:
    - '3752'
custom_image:
    - 'Yes'
text_lines:
    - '1'
og_image_opacity:
    - '100'
og_image_line_1_text:
    - ''
og_image_line_2_text:
    - ''
og_image_line_3_text:
    - ''
header_image:
    - ''
intro:
    - 'Gambling has been around for thousands of years. Whilst individual businesses may fail, the gaming industry as a whole survives and thrives. It does this for a simple reason: it makes money. Through its use of maths, psychology and increasingly clever marketing, gambling turns a profit for those who run their gaming companies ably. One of the downsides to this is that the customers who lose money outweigh those that make money, as they must for the gambling business to succeed, which leads to a wealth of negative feelings from those who lose out. Accusations of rigged, bugged or broken games are inevitable when people lose their money, and some will go further and accuse the provider of being corrupt or conducting illegal activity. Public perception of the gambling industry, therefore, is not always positive. Given this, it is important that gaming enterprises show that they are legitimate and prove they are abiding by the applicable rules and regulations. '
text:
    - "<span style=\"font-weight: 400;\">The global gambling market is worth around </span><a href=\"https://www.researchandmarkets.com/reports/4773078/gambling-global-market-opportunities-and?utm_source=BW&amp;utm_medium=PressRelease&amp;utm_code=znchkm&amp;utm_campaign=1263077+-+Global+Gambling+Market+to+Reach+%24565+Billion+by+2022%3a+Opportunities+%26+Strategies+Report%2c+2014+to+2022&amp;utm_exec=joca220prd\"><span style=\"font-weight: 400;\">US$500 billion and growing</span></a><span style=\"font-weight: 400;\">. When such large amounts of money changes hands quickly, particularly in establishments such as casinos where fiat currency can be exchanged for chips, and vice versa, and where there are a large amount of relatively anonymous exchanges happening, there is a significant risk that criminals will be tempted to use the situation to attempt to launder money. There have been many </span><a href=\"https://www.theglobeandmail.com/canada/british-columbia/article-bc-has-failed-to-prevent-money-laundering-through-casinos-attorney/\"><span style=\"font-weight: 400;\">instances</span></a><span style=\"font-weight: 400;\"> in </span><a href=\"https://www.rahmanravelli.co.uk/articles/money-laundering-and-the-gambling-industry/?utm_source=Mondaq&amp;utm_medium=syndication&amp;utm_campaign=View-Original\"><span style=\"font-weight: 400;\">recent</span></a> <a href=\"https://www.theguardian.com/society/2018/jan/05/five-of-uk-online-casinos-may-lose-licence-over-money-laundering-fears\"><span style=\"font-weight: 400;\">history</span></a><span style=\"font-weight: 400;\"> of gambling being used for money laundering; in 2018, police in </span><a href=\"https://www.theglobeandmail.com/canada/british-columbia/article-how-organized-crime-uses-bc-casinos-to-launder-money/\"><span style=\"font-weight: 400;\">British Columbia</span></a><span style=\"font-weight: 400;\"> reporting an estimated $100 million or more laundered in British Columbia casinos. It can also be very costly, with UK betting firms </span><a href=\"https://news.sky.com/story/ladbrokes-coral-to-pay-6m-penalty-for-systemic-failings-11773948\"><span style=\"font-weight: 400;\">recently shown</span></a><span style=\"font-weight: 400;\"> to have paid out almost £20 million in fines for failing to provide significant AML checks in one financial year. It needs to be addressed.\_\_</span>\r\n\r\n<span style=\"font-weight: 400;\">Dealing with large amounts of money from numerous sources, the gaming industry is subject to financial regulations, including KYC and AML regulations and there are many </span><a href=\"https://www.talk-business.co.uk/2017/05/23/gambling-laws-differ-united-states-europe/\"><span style=\"font-weight: 400;\">regional</span></a> <a href=\"https://www.gamblingsites.com/online-gambling-jurisdictions/\"><span style=\"font-weight: 400;\">differences</span></a><span style=\"font-weight: 400;\">, which online gambling </span><a href=\"https://www.reuters.com/article/us-gambling-usa-dummies-exclusive-idUSKBN19D137\"><span style=\"font-weight: 400;\">may be used to circumvent</span></a><span style=\"font-weight: 400;\">. Depending on the jurisdiction and types of games being offered, casinos, betting websites, gambling mobile apps and all other businesses that offer gambling have different levels of restrictions for customers, and being able to gate users based on age, location or any other requirements depending on the specific regulations they fall under.\_\_</span>\r\n\r\n<span style=\"font-weight: 400;\">The largest and most famous casinos may be entirely legitimate and closely monitored by the government as they conduct business; however, there are some which provide gambling services that are not legitimate and may be exploited by criminals for illicit activities - hence the need for regulations. When an industry subject to the level of suspicion and scrutiny has to comply with these regulations, it needs to utilise an extensive and secure (as well as fast and effective) method of identity verification and management.\_\_\_</span>\r\n\r\n<span style=\"font-weight: 400;\">In complying with local and regional regulations, there is a need to ensure accuracy and legitimacy, but there is also a requirement for users’ identities to remain secure and confidential. This can be especially problematic for online and mobile gambling enterprises which are more exposed to ineligible individuals using their services. An additional problem arises for services which become popular and enjoy a large number of users with the sheer volume of identities that need to be verified or vetted. Regulations are constantly updating and evolving to respond to new technology and provide safety and security to the people that choose to use the gambling services.\_\_\_</span>\r\n\r\n<span style=\"font-weight: 400;\">There are other benefits to identity verification in gaming situations. In addition to age, location, governmental prohibitions and others, having a solid identity and identity verification enables a vital opportunity for those who identify as gambling addicts - providing a means for them to block themselves from potentially ruining their lives when they cannot control their impulses.\_</span>\r\n\r\n<span style=\"font-weight: 400;\">Blockpass provides a solution which is ideal for the gaming industry. With fast and secure <a href=\"http://www.blockpass.org/kyc\">KYC</a> and <a href=\"https://www.blockpass.org/2019/10/21/understanding-aml-compliance/\">AML</a> compliance, and the ability to flexibly, quickly and easily manage identities, it ensures regulatory compliance without the hassle traditionally associated with KYC. The Blockpass model would also be ideal for industries like the gaming industry which can see a large number of infrequent users who need identity, as the Blockpass ecosystem represent a pool of pre-verified users with secure and compliant identities which would be ready to instantly onboard and would allow companies to rapidly onboard new users who were in control of their own identities. Aiming for the highest standards in regulatory compliance would go a long way to showing that a company in the gaming industry is legitimate and help turn the public perception of gaming to a more positive one; when a fantastic compliance solution exists, why would a company </span><i><span style=\"font-weight: 400;\">not </span></i><span style=\"font-weight: 400;\">use it?</span>"
media_page_text:
    - 'Gambling has been around for thousands of years. Whilst individual businesses may fail, the gaming industry as a whole survives and thrives. It does this for a simple reason: it makes money. Through its use of maths, psychology and increasingly clever marketing, gambling turns a profit for those who run their gaming companies ably. One of the downsides to this is that the customers who lose money outweigh those that make money, as they must for the gambling business to succeed, which leads to a wealth of negative feelings from those who lose out. Accusations of rigged, bugged or broken games are inevitable when people lose their money, and some will go further and accuse the provider of being corrupt or conducting illegal activity. Public perception of the gambling industry, therefore, is not always positive. Given this, it is important that gaming enterprises show that they are legitimate and prove they are abiding by the applicable rules and regulations. '
pinned:
    - 'no'
metatitle:
    - 'Why the Gaming Industry Needs Identity Verification'
metadescription:
    - 'Gambling has been around for thousands of years. Whilst individual businesses may fail, the gaming industry as a whole survives and thrives. It does this for a simple reason: it makes money. Through its use of maths, psychology and increasingly clever marketing, gambling turns a profit for those who run their gaming companies ably. One of the downsides to this is that the customers who lose money outweigh those that make money, as they must for the gambling business to succeed, which leads to a wealth of negative feelings from those who lose out. Accusations of rigged, bugged or broken games are inevitable when people lose their money, and some will go further and accuse the provider of being corrupt or conducting illegal activity. Public perception of the gambling industry, therefore, is not always positive. Given this, it is important that gaming enterprises show that they are legitimate and prove they are abiding by the applicable rules and regulations. '
metakeywords:
    - 'AML, Compliance, AML Compliance, Blockpass, Customer Onboarding, Digital identity, identity management solution, identity management, Identity Verification, Know your customer, KYC, regtech, security tokens, sto, blockchain verification, gaming, fast kyc, simple kyc, cheap kyc, best kyc, identity checks, id checks, id verification'
---
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<?xml encoding="UTF-8">
