---
title: 'Blockpass Announces Investment in Key Partner Fully-Verified, Broadens Product Scope to Include Video Verification'
date: '2018-09-21T08:33:26+01:00'
status: publish
permalink: /2018/09/21/blockpass-announces-investment-in-key-partner-fully-verified-broadens-product-scope-to-include-video-verification
author: 'Caitlin Fargo'
excerpt: ''
type: post
id: 1325
thumbnail: ../../../../../uploads/2018/07/Blockpass-Media-18-150x150.jpg
category:
    - News
tag:
    - AML
    - 'best KYC'
    - Blockchain
    - 'blockchain verification'
    - Blockpass
    - 'Client On-Boarding'
    - 'Client Onboarding'
    - Compliance
    - Crypto
    - Cryptocurrency
    - 'Customer Onboarding'
    - 'digital identity'
    - 'fast kyc'
    - Features
    - Identity
    - 'Identity Check'
    - 'identity management solution'
    - 'identity verification'
    - 'Know your customer'
    - KYC
    - 'KYC Connect'
    - Marketplace
    - Partnerships
    - PASS
    - Regtech
    - 'seamless kyc'
    - 'security tokens'
    - 'Simple KYC'
    - STO
post_format: []
language:
    - English
post_translations:
    - pll_5c0aa9f2241d5
region:
    - ''
ogtitle:
    - 'Blockpass Announces Investment in Key Partner Fully-Verified, Broadens Product Scope to Include Video Verification'
ogdescription:
    - ' Digital identity verification provider, Blockpass, confirmed today that they have signed a deal to invest in and partner with video verification solutions provider Fully-Verified. The move Blockpass’ commitment to becoming the premier Know-Your-Customer (KYC) and Anti-Money Laundering (AML) verification solutions provider. The deal also allows Blockpass exclusive access to the solutions provided by Fully-Verified.'
ogimage:
    - ''
header_image:
    - '727'
intro: 'Digital identity verification provider, Blockpass, confirmed today that they have signed a deal to invest in and partner with video verification solutions provider Fully-Verified. The move Blockpass’ commitment to becoming the premier Know-Your-Customer (KYC) and Anti-Money Laundering (AML) verification solutions provider. The deal also allows Blockpass exclusive access to the solutions provided by Fully-Verified.'
text: "<span style=\"font-weight: 400;\">Blockpass offers shared regulatory compliance services for humans, companies, objects and devices. As an identity system that supports verification of humans <a href=\"http://www.blockpass.org/kyc\">(KYC),</a> objects (KYO) and connected devices (KYD), Blockpass will enable the development of new applications that rely on a trusted connection between multiple entities.</span>\r\n\r\n<span style=\"font-weight: 400;\">Fully-Verified provides banking-grade identity verifications on live video, backed by human verification specialists, automated document scanning, and face recognition. The company was created as answer to its founders collectively losing over $150 000 to various types of fraud in their eCommerce businesses. </span>\r\n\r\n<span style=\"font-weight: 400;\">“Integrating the Fully-Verified video verification solution into the Blockpass application means that as a business, we are taking the quality of our product offering to the next level. Video verification is the future of digital identity creation, and it is with great pride we bring the Fully-Verified team and product into our ecosystem,” said <a href=\"https://www.linkedin.com/in/adamvaziri/\">Adam Vaziri</a>, CEO of Blockpass. </span>\r\n\r\n“We are extremely happy to be part of the Blockpass ecosystem. Connecting our identity verifications with a blockchain based solution for storing identity details, allows for an extra level of comfort and security for the end users,” said Lucas Kwiatkowski, CEO of Fully-Verified.\r\n\r\n<b>About Blockpass IDN\r\n</b><span style=\"font-weight: 400;\">The goal of Blockpass IDN (</span><a href=\"http://www.blockpass.org/\"><span style=\"font-weight: 400;\">http://www.blockpass.org/</span></a><span style=\"font-weight: 400;\">) is global realization of identity for the Internet of Everything. Through the use of blockchain technology and smart contracts, Blockpass is a production ready Regtech platform offering shared regulatory and compliance services for humans, businesses, objects and devices. As this identity system supports verification of humans (KYC), objects (KYO) and connected devices (KYD), it will enable the development of new applications that rely on a trusted connection between human, corporate, and device identities. Registered in Hong Kong, Blockpass IDN is a joint venture of Infinity Blockchain Labs and Chain of Things. Blockpass IDN licenses its technology from the non-profit Blockpass Foundation, registered in the Isle of Man.</span>\r\n\r\n<strong>For more information and updates, please visit and sign up to the following:\r\n</strong><span style=\"font-weight: 400;\">Promotional video: </span><span style=\"font-weight: 400;\"><a href=\"https://youtu.be/SvO2cw3e-SI\">https://youtu.be/SvO2cw3e-SI</a>\r\n</span>Medium: <a href=\"https://medium.com/@blockpass\">https://medium.com/@blockpass</a>\r\nTwitter: <a href=\"https://twitter.com/BlockpassOrg\">https://twitter.com/BlockpassOrg</a>\r\n<span style=\"font-weight: 400;\">Facebook: </span><a href=\"https://www.facebook.com/blockpassorg/\"><span style=\"font-weight: 400;\">https://www.facebook.com/blockpassorg/</span></a>\r\n<span style=\"font-weight: 400;\">Telegram: \_</span><a href=\"https://t.me/blockpass\"><span style=\"font-weight: 400;\">https://t.me/blockpass</span></a>"
media_page_text: ' Digital identity verification provider, Blockpass, confirmed today that they have signed a deal to invest in and partner with video verification solutions provider Fully-Verified. The move Blockpass’ commitment to becoming the premier Know-Your-Customer (KYC) and Anti-Money Laundering (AML) verification solutions provider. The deal also allows Blockpass exclusive access to the solutions provided by Fully-Verified.'
pinned:
    - 'no'
metatitle:
    - 'Blockpass Announces Investment in Key Partner Fully-Verified, Broadens Product Scope to Include Video Verification'
metadescription:
    - ' Digital identity verification provider, Blockpass, confirmed today that they have signed a deal to invest in and partner with video verification solutions provider Fully-Verified. The move Blockpass’ commitment to becoming the premier Know-Your-Customer (KYC) and Anti-Money Laundering (AML) verification solutions provider. The deal also allows Blockpass exclusive access to the solutions provided by Fully-Verified.'
metakeywords:
    - 'Product, Update, Release, Features, AML, best KYC, Blockchain, blockchain verification, Blockpass, Client On-Boarding, Client Onboarding, Compliance, Crypto, Cryptocurrency, Customer Onboarding, digital identity, fast kyc, Identity, Identity Check, identity management solution, identity verification, Know your customer, KYC, KYC Connect, PASS, Regtech, seamless kyc, security tokens, Simple KYC, STO'
custom_image:
    - 'Yes'
text_lines:
    - '1'
og_image_opacity:
    - '100'
og_image_line_1_text: ''
og_image_line_2_text: ''
og_image_line_3_text: ''
---
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<?xml encoding="UTF-8">
