.social-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-content: center;
  align-items: center;
  margin: 10px 0;
}

.social-links > button svg{
  margin-right: 15px;
  cursor: pointer;
  color: #414141;
  transition: all 0.3s ease;
}
.social-links > button:focus{
  outline: none;
}
.social-links > button:hover svg{
  color: #488cff;
}

.share-count {
  text-align: center;
}
