---
title: 'Tokenomica Integrates Blockpass’ KYC Connect for Identity Verification'
date: '2019-03-29T17:21:53+00:00'
status: publish
permalink: /2019/03/29/tokenomica-integrates-blockpass-kyc-connect-for-identity-verification
author: 'Matthew Warner'
excerpt: ''
type: post
id: 2871
thumbnail: ../../../../../uploads/2019/03/Partners_Tokenomica-1-150x150.jpg
category:
    - News
tag:
    - AML
    - Blockchain
    - 'blockchain verification'
    - Blockpass
    - 'Client On-Boarding'
    - 'Client Onboarding'
    - Compliance
    - Crypto
    - Cryptocurrency
    - 'Customer Onboarding'
    - 'digital identity'
    - Identity
    - 'Identity Check'
    - 'identity management solution'
    - 'identity verification'
    - 'Know your customer'
    - KYC
    - Marketplace
    - Partnership
    - PASS
    - Regtech
    - 'security tokens'
    - STO
    - tokenomica
post_format: []
language:
    - English
post_translations:
    - pll_5ca60c9149d01
region:
    - ''
ogtitle:
    - 'Tokenomica Integrates Blockpass’ KYC Connect for Identity Verification'
ogdescription:
    - 'The latest in a long line of partnerships, Blockpass has announced today that Tokenomica will be integrating Blockpass’ unique KYC Connect solution to simplify and expedite the process of onboarding new customers. Tokenomica’s Virtual Financial Asset (VFA) exchange and Security Token Issuance Platform require a robust and compliant KYC process, which Blockpass is providing with its identity verification service. Further developments and promotions of this partnership will be announced at a future date.'
ogimage:
    - '2882'
custom_image:
    - 'No'
text_lines:
    - '3'
og_image_opacity:
    - '100'
og_image_line_1_text: ''
og_image_line_2_text: ''
og_image_line_3_text: ''
header_image:
    - ''
intro: 'The latest in a long line of partnerships, Blockpass has announced today that Tokenomica will be integrating Blockpass’ unique KYC Connect solution to simplify and expedite the process of onboarding new customers. Tokenomica’s Virtual Financial Asset (VFA) exchange and Security Token Issuance Platform require a robust and compliant KYC process, which Blockpass is providing with its identity verification service. Further developments and promotions of this partnership will be announced at a future date.'
text: "Incorporated in Malta, taking advantage of the jurisdiction’s forward-thinking approach to cryptocurrencies and blockchain technology, <a href=\"https://tokenomica.com/\">Tokenomica</a> operates a regulated and licensed crypto-exchange business, under the transitory period acknowledged by the regulators in Malta, which will become fully regulated and licensed in due course, providing both crypto-to-crypto and crypto-to-fiat options. Tokenomica, which is built on top of the <a href=\"https://wavesplatform.com/\">Waves</a> blockchain, carries out extensive checks on the VFAs it lists to ensure only the highest quality tokens are listed for trading. The company recently launched the Beta version of its Security Token Issuance Platform, which provides fully compliant solutions for <a href=\"https://www.blockpass.org/2019/05/25/what-is-a-security-token-and-a-security-token-offering/\">Security Token Offerings</a> and offers an automatic tool which can be used to design security tokens by following a simple step-by-step process.\r\n\r\nBlockpass is digital identity application and service which puts the user back in control of their personal data. Blockpass provides a streamlined and cost-effective user onboarding process for regulated industries and any kind of online service. From the Blockpass Application, users can create, store, and manage, data-secure digital identity that can be used for an entire ecosystem of services or token purchase. Blockpass is supporting the development and use of STOs through its identity verification platform as well as by hosting a number of meet ups and events throughout the year that will focus on this topic - see the Blockpass website for more details.\r\n\r\n“We are excited to announce this new partnership with Tokenomica.” said Adam Vaziri, CEO of Blockpass. “Regulated and reliable exchanges are vital to realise the benefits that cryptocurrencies and blockchain bring, and STOs are increasingly becoming an integral part of these ecosystems as they revolutionise the way we conduct business. In working with other companies in the field of STOs, we are developing an important area in the blockchain and cryptocurrency space, and we look forward to working with Tokenomica to provide simple, secure and compliant access to both exchanges and STOs.”\r\n\r\n“Blockpass is a new word in compliance, and we are immensely pleased to use this technology in our product”, said Artem Tolkachev, Tokenomica’s Founder and CEO. “What makes Blockpass unique is that it provides added value to users. The use of traditional KYC providers is essentially a burden for them: it is necessary to provide the same documents over and over again every time they want to use a new service. The Blockpass technology allows them to create a single KYC ID which is then stored exclusively on the user's device and which they can use for all the services connected to the Blockpass. This is an ideal solution for ecosystem products such as Tokenomica”.\r\n\r\nBlockpass has continued to expand its uses and features in recent months, inaugurating the Blockpass Identity Lab in partnership with Edinburgh Napier University in September, while continuing to develop its digital identity protocol with continuous releases and updates. Blockpass most recently joined the Open Identity Exchange (OIX), and announced the integration of its <a href=\"http://www.blockpass.org/kyc\">KYC Connect</a> solution with other services including ethecal, Legacy Trust and Ethfinex. The Blockpass App is available from the App Store and Google Play."
media_page_text: 'The latest in a long line of partnerships, Blockpass has announced today that Tokenomica will be integrating Blockpass’ unique KYC Connect solution to simplify and expedite the process of onboarding new customers. Tokenomica’s Virtual Financial Asset (VFA) exchange and Security Token Issuance Platform require a robust and compliant KYC process, which Blockpass is providing with its identity verification service. Further developments and promotions of this partnership will be announced at a future date.'
pinned:
    - 'no'
metatitle:
    - 'Tokenomica Integrates Blockpass’ KYC Connect for Identity Verification'
metadescription:
    - 'The latest in a long line of partnerships, Blockpass has announced today that Tokenomica will be integrating Blockpass’ unique KYC Connect solution to simplify and expedite the process of onboarding new customers. Tokenomica’s Virtual Financial Asset (VFA) exchange and Security Token Issuance Platform require a robust and compliant KYC process, which Blockpass is providing with its identity verification service. Further developments and promotions of this partnership will be announced at a future date.'
metakeywords:
    - 'KYC, AML, Compliance, Client On-Boarding, PASS, Marketplace, Blockpass, Identity, Identity Verification, Customer Onboarding, Digital identity, identity management solution, Identity Verification, Know your customer, regtech, security tokens, sto, blockchain verification, partnership, tokenomica, identity check, client onboarding, cryptocurrency, blockchain, crypto'
---
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<?xml encoding="UTF-8">
