---
title: 'Get Your Token Verified'
date: '2020-02-18T10:51:42+00:00'
status: publish
permalink: '/?marketplace=token-issuer-verification'
author: Blockpass
excerpt: ''
mp_type:
    - blockpass
id: 5251
type_additonal:
    - ''
active:
    - '1'
comingsoon:
    - '0'
blockpass:
    - '1'
tagline:
    - 'For STOs, IEOs and ICOs'
tile_intro:
    - 'Blockpass provides basic verification for token issuers, including security and utility tokens.'
icon:
    - ''
link_type:
    - link_self
link:
    - /token-issuer-verification/
link_text:
    - 'Find out more'
sort:
    - '30'
---
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<?xml encoding="UTF-8">
