---
title: 'What is Age Verification?'
date: '2020-09-03T12:39:27+01:00'
status: publish
permalink: /2020/09/03/what-is-age-verification
author: 'Matthew Warner'
excerpt: ''
type: post
id: 7655
thumbnail: ../../../../uploads/2018/06/1450_Ly9jb2ludGVsZWdyYXBoLmNvbS9zdG9yYWdlL3VwbG9hZHMvdmlldy9iNTU0YjNjZDFhYTA2NjZjZjhjNmE2NTk1YmY0YTgwNC5qcGc-150x150.jpg
category:
    - Blog
tag:
    - Age
    - 'age check'
    - 'Age Verification'
    - 'age verify'
    - AML
    - 'AML Compliance'
    - 'best KYC'
    - 'blockchain verification'
    - Blockpass
    - Compliance
    - 'Customer Onboarding'
    - 'digital identity'
    - 'digital KYC'
    - eKYC
    - 'id age verification'
    - 'ID check'
    - 'id check identity verification'
    - 'identity management solution'
    - 'identity verification'
    - KYC
    - Regtech
    - 'restricted content'
    - 'seamless kyc'
    - 'Simple KYC'
post_format: []
language:
    - English
post_translations: []
ogtitle:
    - 'What is Age Verification?'
ogdescription:
    - 'Age verification is one of the first forms of identity verification that most of us will experience in our lives, or at least the most obvious way in which we will experience it when we initially come across identity verification. It involves checking a person’s birth date to verify that they were born before a certain point in time so that their access to age-restricted items or services can be approved or denied. '
ogimage:
    - '249'
custom_image:
    - 'Yes'
text_lines:
    - '1'
og_image_opacity:
    - '100'
og_image_line_1_text:
    - ''
og_image_line_2_text:
    - ''
og_image_line_3_text:
    - ''
header_image:
    - '249'
intro:
    - 'Age verification is one of the first forms of identity verification that most of us will experience in our lives, or at least the most obvious way in which we will experience it when we initially come across identity verification. It involves checking a person’s birth date to verify that they were born before a certain point in time so that their access to age-restricted items or services can be approved or denied. '
text:
    - "<span style=\"font-weight: 400;\">Many products and services can be gated by placing age restrictions on them, as dictated by laws and regulations such as licensing laws in the UK or the FD&amp;C Act in the USA. Items such as alcohol, cigarettes and films can require people to be of certain ages to access them in order to protect the consumer from physical and psychological harm. Whilst these restrictions may vary from country to country, they represent the morals and values of countries which can be based on scientific, historical or traditional reasons. Without having suitable age verification methods, age-restricted items and services have to rely on personal judgement as to whether or not someone is suitable to buy products or engage with their services, or refuse to deal with people whose age is uncertain altogether.\_</span>\r\n\r\n<span style=\"font-weight: 400;\">A reliance on judgement is not a feasible option for age verification; not only can it open companies up to compliance issues if they allow underage individuals to access restricted options, but can also cause a lot of ill will from customers who should legitimately be able to do business with them but, due to an employee’s decision, are barred from what they want. Many places will require customers to show identity documentation of some sort - a driver’s license, passport or ID card usually; however, even though this is better than leaving it up to an employee’s judgement, it is still not ideal, as identity documents inevitably hold a lot more information than just a person’s age, including potentially sensitive information, and there is no reason for many businesses to know a customer’s name or address, or even their precise date of birth - only that they are past a certain age.\_\_\_\_\_\_\_\_</span>\r\n\r\n<span style=\"font-weight: 400;\">With Blockpass’ <a href=\"http://www.blockpass.org/kyc\">KYC Connect</a> solution, users can set up a reusable profile and get their identity verified free of charge, building up an identity profile which they can control and which can be used to access a wide and continuously expanding range of options via the <a href=\"http://www.blockpass.org/marketplace\">Blockpass Marketplace</a>. To make the verification of users as privacy-focussed as possible, businesses can ask to view only the specific information that they are required to check by regulations in the jurisdictions they operate, prompting the user to provide that information to access their services. The companies then receive the verified fields from the user to show they are meeting regulatory requirements and the user can be secure in the knowledge that no additional information is being shared.\_</span>\r\n\r\n<span style=\"font-weight: 400;\">In the future, Blockpass hopes to improve the privacy of its services even further through work carried out in conjunction with our partners at the <a href=\"https://identity-lab.blockpass.org/\">Blockpass Identity Lab</a>, located in Edinburgh Napier University, where cutting edge cryptography research and development is being carried out in areas such as zero-knowledge proofs and homomorphic encryption that will eventually allow businesses to verify that users are eligible to engage with them without actually seeing and personal information of that individual, instead relying on cryptography and mathematics to prove that they fit the given criteria.\_\_</span>\r\n\r\n<span style=\"font-weight: 400;\">The Blockpass platform is fully automated and hosted in the cloud, with no integration or setup fee. Businesses can sign up to the <a href=\"http://console.blockpass.org\">KYC Connect console</a> in a matter of minutes, test out the service, and start conducting identity documents verification, <a href=\"http://www.blockpass.org/kyc\">KYC</a> and <a href=\"https://www.blockpass.org/2019/10/21/understanding-aml-compliance/\">AML</a> checks. Sign up for FREE at </span><a href=\"http://console.blockpass.org\"><span style=\"font-weight: 400;\">console.blockpass.org</span></a><span style=\"font-weight: 400;\">.</span>"
media_page_text:
    - 'Age verification is one of the first forms of identity verification that most of us will experience in our lives, or at least the most obvious way in which we will experience it when we initially come across identity verification. It involves checking a person’s birth date to verify that they were born before a certain point in time so that their access to age-restricted items or services can be approved or denied. '
pinned:
    - 'no'
metatitle:
    - 'What is Age Verification?'
metadescription:
    - 'Age verification is one of the first forms of identity verification that most of us will experience in our lives, or at least the most obvious way in which we will experience it when we initially come across identity verification. It involves checking a person’s birth date to verify that they were born before a certain point in time so that their access to age-restricted items or services can be approved or denied. '
metakeywords:
    - 'AML, eKYC, Digital Identity, Blockpass, AML Compliance, Compliance, Customer Onboarding, Digital identity, identity management solution, Identity Verification, KYC, regtech, blockchain verification, digital KYC, Age, Age Verification, age verify, restricted content, Blockpass, best kyc, simple kyc, seamless kyc, customer onboarding, age check, id check identity verification, id check, id age verification'
---
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<?xml encoding="UTF-8">
